---
layout:
title: Legal-Notice
locale: en
permalink: /en/Legal-Notice
---

<!DOCTYPE html>
<html>

{% include head.html %}



<body>
  {% include nav-post.html %}
  <div class = "">

  <div class="container">
    <center><h1>{{ page.title }}</h1></center>
    <hr>
  </div>


  <div class="container">
<br><br>
<ul>
    <li><b>Owner: </b>Open Source Politics – SARL 820 412 161 – 32 rue des Cascades 75020 Paris (France)<br></li>
    <li><b>Designer:</b> Virgile Deville<br></li>
    <li><b>Release manager:</b> Virgile Deville – contact@opensourcepolitics.eu<br></li>
    <li><b>Webmaster:</b> Virgile Deville – contact@opensourcepolitics.eu<br></li>
    <li><b>Host:</b> Github Pages – 88 Colin P Kelly Junior Street, San Francisco, CA 94107, United States<br></li>
</ul>


      </div>


      <br><br><br><br><br><br><br><br><br><br><br><br>






</div>

      {% include footer.html %}
      {% include js.html %}
    </body>
    </html>
