<div class="container-fluid" style="background-color:#f7f7f7;border-top:solid;border-color:#b4bcc2;" >
  <center>
    <p>&nbsp;</p>
    <p class="text-muted" style="font-size:1.4em;"><i>{{ site.data.i18n[page.locale].trust-title }}</i></p>
    <ul class="list-inline clear-fix">
      {% for client in site.clients %}
        <li><a href="{{ client.site-url }}" target="blank"><img src="{{ site.baseurl }}/img/clients/{{ client.img }}" alt="{{ client.alt }}" width="121px" height="70px" class="img-responsive img-centered" style="-webkit-filter: grayscale(100%);"></a></li>
      {% endfor %}
    </ul>
    <p>&nbsp;</p>
  </center>
</div>
