<!-- Clients Aside -->
    <aside class="clients">
        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-md-2 col-sm-4 col-lg-offset-1">
                    <a href="#">
                        <img src="img/clients/paris.png" class="img-responsive img-responsive img-centered desaturate" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/clients/rivp.png" class="img-responsive img-centered desaturate" alt="">
                    </a>
                </div>
                <!-- <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/clients/sncf.png" class="img-centered desaturate" alt="">
                    </a>
                </div> -->
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/clients/nanterre.png" class="img-responsive img-centered desaturate" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/clients/solidel.png" class="img-responsive img-centered desaturate" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/clients/mairie-du-18.png" class="img-responsive img-centered desaturate" alt="">
                    </a>
                </div>
            </div>
        <!-- </div> -->
    </aside>
