<section id="contact">
        <div class="container">
            <!-- <div class="row"> -->
                <!-- <div class="col-lg-12 text-center"> -->
                    <!-- <h2 class="section-heading">{{ site.data.i18n[page.locale].contact.title }}</h2> -->
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                    <!-- <br> -->
                <!-- </div> -->

                <div class="row">
                  <form  action="https://formspree.io/contact@opensourcepolitics.eu" method="POST" name="sentMessage" id="contactForm" novalidate>
                    <div class="col-md-6">
                      <center><h2 class="section-heading">{{ site.data.i18n[page.locale].contact.title }}</h2></center>
                        <div class="control-group form-group">
                            <input type="text" class="form-control" placeholder="{{ site.data.i18n[page.locale].contact.place-holder-name }}" name="name" required data-validation-required-message="{{ site.data.i18n[page.locale].contact.name-data-validation-required-message }}">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group form-group">
                            <input type="email" class="form-control" placeholder="{{ site.data.i18n[page.locale].contact.place-holder-mail }}" name="email" required data-validation-required-message="{{ site.data.i18n[page.locale].contact.email-data-validation-required-message }}.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group form-group">
                            <input type="tel" class="form-control" placeholder="{{ site.data.i18n[page.locale].contact.place-holder-phone }}" name="phone" required data-validation-required-message="{{ site.data.i18n[page.locale].contact.phone-data-validation-required-message }}">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group form-group">
                            <!-- <input type="text" class="form-control" placeholder="Votre message *" id="message" required data-validation-required-message="Merci d'entrer votre message.">
                            <p class="help-block text-danger"></p> -->
                            <textarea class="form-control" placeholder="{{ site.data.i18n[page.locale].contact.place-holder-msg }}" name="message" required data-validation-required-message="{{ site.data.i18n[page.locale].contact.msg-data-validation-required-message }}"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <input type="submit" value="{{ site.data.i18n[page.locale].contact.btn-submit }}" class="btn btn-xl">
                            <!-- <button type="submit" class="btn btn-xl">Envoyer</button> -->
                        </div>
                      </div>
                    </form>
                  <div class="col-md-6">
                    <center>
                      <a href="{{ site.data.i18n[page.locale].contact.btn-link }}" target="_blank"><img src="{{ site.baseurl }}/img/forms.png" width="150px" alt="formulaire" style="padding-top:30px;"></a>
                      <!-- <p>&nbsp;</p> -->
                       <p style="color:#fff;font-size:1.1em;padding:30px;">{{ site.data.i18n[page.locale].contact.message-form }}</p>
                      <!-- <p>&nbsp;</p> -->
                      <a href="{{ site.data.i18n[page.locale].contact.btn-link }}" target="_blank" class="btn btn-primary">{{ site.data.i18n[page.locale].contact.btn-form }}</a>
                    </center>
                  </div>
                </div>

                </div>
            </div>
        </div>
    </section>
