
<section id="decidim">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <img src="https://d33wubrfki0l68.cloudfront.net/c8a989ae15c4def77353ab677084cf68e6a9c754/d6de4/images/decidim-logo.svg" style="max-width:400px";>
        <h3><span style="color:#ED6064;">Decidim</span>, Une plateforme de participation et gouvernance démocratique complète</h3>
        <br>
        <p><a href="#contact" class="page-scroll btn btn-primary">Demandez une démo</a></p>
      </div>
      <div class="col-lg-6 col-md-6">
      <iframe width="510" height="290" src="https://www.youtube.com/embed/KTAZCCrgYmM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
<div class="container">
  <br>
  <div class="row">
      <div class="col-lg-6 col-md-6">
        <h4>Les 10 atouts de Decidim</h4>
        <ul class="fa-ul" >
          <li>
            <span style="color:#ED6064";><i class="fa-li fa fa-check"></i></span>Personnalisable et modulaire pour s'adapter à votre contexte
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>De nombreuses fonctionnalités pour animer vos budgets participatifs, consultation publiques etc.
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>Démarches gérées par les administrateurs et parfois lancées à l'initiative des participants (pétitions).
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>Dimension sociale renforcée avec des notifications personnalisées, des profils auxquels s'abonner et une messagerie privée entre utilisateurs.
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>Panel d'administration avancé qui vous aide à organiser votre travail.
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>Gestion fine des droits d'administration.
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>Disponible en SAAS.
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>API complète pour l'open data.
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>Véritablement [open source](lien vers article medium) et conforme au RGPD.
          </li>
        </ul>
      </div>
        <div class="col-lg-6 col-md-6">
          <h4>OSP vous accompagne à la mesure de vos enjeux</h4>
          <ul class="fa-ul" >
            <li>
              <span style="color:#ED6064";><i class="fa-li fa fa-check"></i></span>Accompagnement méthodologique.
            </li>
            <li style="margin-top:10px;">
              <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>Conseil stratégique en ingénierie de la concertation et mobilisation citoyenne.
            </li>
            <li style="margin-top:10px;">
              <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>Suivi et gestion de votre projet de A à Z.
            </li>
            <li style="margin-top:10px;">
              <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>Formations aux enjeux de la démocratie numérique.
            </li>
            <li style="margin-top:10px;">
              <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>Animation d'intelligence collective.
            </li>
            <li style="margin-top:10px;">
              <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>Production de synthèse qualitative.
            </li>
          </ul>
          <br>
          <p><a href="#contact" class="page-scroll btn btn-primary">Contactez-nous</a></p>
        </div>
      </div>
  </div>
</section>
