
<section id="decidim">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <img src="https://d33wubrfki0l68.cloudfront.net/c8a989ae15c4def77353ab677084cf68e6a9c754/d6de4/images/decidim-logo.svg" style="max-width:400px";>
        <h3><span style="color:#ED6064;">Decidim</span>, {{ site.data.i18n[page.locale].decidim.headline }}</h3>
        <br>
        <p><a href="#contact" class="page-scroll btn btn-primary">{{ site.data.i18n[page.locale].decidim.btn-head }}</a></p>
      </div>
      <div class="col-lg-6 col-md-6">
      <iframe width="510" height="290" src="https://www.youtube.com/embed/KTAZCCrgYmM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
<div class="container">
  <br>
  <div class="row">
      <div class="col-lg-6 col-md-6">
        <h4>{{ site.data.i18n[page.locale].decidim.features-headline }}</h4>
        <ul class="fa-ul" >
          <li>
            <span style="color:#ED6064";><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.f-one }}
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.f-two }}
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.f-three }}
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.f-four }}
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.f-five }}
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.f-six }}
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.f-seven }}
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.f-eight }}
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.f-nine }}
          </li>
          <li style="margin-top:10px;">
            <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.f-ten }}
          </li>
        </ul>
      </div>
        <div class="col-lg-6 col-md-6">
          <h4>OSP vous accompagne à la mesure de vos enjeux</h4>
          <ul class="fa-ul" >
            <li>
              <span style="color:#ED6064";><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.a-one }}
            </li>
            <li style="margin-top:10px;">
              <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.a-two }}
            </li>
            <li style="margin-top:10px;">
              <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.a-three }}
            </li>
            <li style="margin-top:10px;">
              <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.a-four }}
            </li>
            <li style="margin-top:10px;">
              <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.a-five }}
            </li>
            <li style="margin-top:10px;">
              <span style="color:#ED6064;"><i class="fa-li fa fa-check"></i></span>{{ site.data.i18n[page.locale].decidim.a-six }}
            </li>
          </ul>
          <br>
          <p><a href="#contact" class="page-scroll btn btn-primary">{{ site.data.i18n[page.locale].decidim.btn-list }}</a></p>
        </div>
      </div>
  </div>
</section>
