<footer style="background-color:#000">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- <ul class="list-inline clearfix">
          {% if page.locale == "fr" %}
          <li><b class="menu-item" style="color:#fff;">Offres :</b></li>
          {% else %}
          <li><b class="menu-item" style="color:#fff;">Offers :</b></li>
          {% endif %}
          {% if page.locale == "fr" %}
          <li><a href="/consultations-publiques" class="menu-item" style="color:#fff;">OSP Agora</a></li>
          {% else %}
          <li><a href="/public-consultations" class="menu-item" style="color:#fff;">OSP Agora</a></li>
          {% endif %}
          {% if page.locale == "fr" %}
          <li><a href="/budget-participatif" class="menu-item" style="color:#fff;">OSP Budget</a></li>
            {% else %}
            <li><a href="/participatory-budgeting" class="menu-item" style="color:#fff;">OSP Bugdet</a></li>
            {% endif %}
            {% if page.locale == "fr" %}
            <li><a href="/custom" class="menu-item" style="color:#fff;">OSP Custom</a></li>
            {% else %}
            <li><a href="/en-custom" class="menu-item" style="color:#fff;">OSP Custom</a></li>
            {% endif %}
            {% if page.locale == "fr" %}
            <li><a href="/formation-civic-tech" class="menu-item" style="color:#fff;">OSP Formation</a></li>
            {% else %}
            <li><a href="/civic-tech-training" class="menu-item" style="color:#fff;">OSP Training</a></li>
            {% endif %}
          </ul> -->
        </div>
        <div class="col-md-4">
          <ul class="list-inline clearfix">
            {% if page.locale == "fr" %}
            <li><a href="/fr/Mentions-Legales" class="menu-item" style="color:#fff;">Mentions légales</a></li>
            {% else %}
            <li><a href="/en/Legal-Notice" class="menu-item" style="color:#fff;">Legal Notice</a></li>
            {% endif %}
            {% if page.locale == "fr" %}
            <li><a href="/fr/Credits" class="menu-item" style="color:#fff;">Crédits</a></li>
            {% else %}
            <li><a href="/en/Credits" class="menu-item" style="color:#fff;">Credits</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="row">
        <div class="col-md-4">
          <div style ="font-size:1em;color:#fff;">
            <center><img src="{{ site.baseurl }}/img/logos/osp-bleu.png" width="80px" style="margin-top:-70px;" class="hidden-xs"></center>
            <br>
            <p>Open Source Politics,<br>
              RCS Paris 820 412 161<br>
              32 rue des Cascades<br>
              75020 Paris (France)</p>
            </div>
          </div>
          <div class="col-md-4" style = "padding-right:20px;color:#fff;">
            <p>{{ site.data.i18n[page.locale].footer.middle }}</p>
          </div>
          <div class="col-md-4" style = "padding-right:20px;color:#fff;">
            <br>
            <p>contact@opensourcepolitics.eu<br>
              <!--{ site.data.i18n[page.locale].footer.right-bottom }}<br>-->
            </p>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" id="cookiebanner" src="http://cookiebanner.eu/js/cookiebanner.min.js" data-position="bottom" data-fg="#ffffff" data-bg="#000" data-link="#dddddd"
  data-moreinfo="http://www.cnil.fr/vos-obligations/sites-web-cookies-et-autres-traceurs/que-dit-la-loi/"
  data-message="Les cookies assurent le bon fonctionnement de notre site Internet en retenant vos préférences. En utilisant ce dernier, vous acceptez leur utilisation." data-linkmsg="En savoir plus"></script>
