  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">&copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span><br>      <div style ="font-size:0.8em;">
                          Icons made by
                          <a href="http://www.flaticon.com/authors/prosymbols" title="Prosymbols">Prosymbols</a>
                          from
                          <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
                          <br>is licensed by
                          <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                          </div>
                </div>
                <div class="col-md-4">
                    <span class="copyright">32 rue des Cascades 75020 Paris France</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons copyright">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" id="cookiebanner" src="http://cookiebanner.eu/js/cookiebanner.min.js" data-position="bottom" data-fg="#ffffff" data-bg="#3b5269" data-link="#dddddd"
    data-moreinfo="http://www.cnil.fr/vos-obligations/sites-web-cookies-et-autres-traceurs/que-dit-la-loi/"
    data-message="Les cookies assurent le bon fonctionnement de notre site Internet en retenant vos préférences. En utilisant ce dernier, vous acceptez leur utilisation." data-linkmsg="En savoir plus"</script>
