<h4>Implémentation(s)</h4>
     {% if page.implementation1-name %}
     <a href="{{ page.implementation1-link }}" class="btn btn-primary btn-project"><i class="fa fa-external-link" aria-hidden="true"></i> &nbsp; &nbsp; {{ page.implementation1-name }} </a>
     {% endif %}
     {% if page.implementation2-name %}
     <a href="{{ page.implementation2-link }}" class="btn btn-primary btn-project"><i class="fa fa-external-link" aria-hidden="true"></i> &nbsp; &nbsp; {{ page.implementation2-name }} </a>
     {% endif %}
     {% if page.implementation3-name %}
     <a href="{{ page.implementation3-link }}" class="btn btn-primary btn-project"><i class="fa fa-external-link" aria-hidden="true"></i> &nbsp; &nbsp; {{ page.implementation3-name }} </a>
     {% endif %}
     {% if page.implementation4-name %}
     <a href="{{ page.implementation4-link }}" class="btn btn-primary btn-project"><i class="fa fa-external-link" aria-hidden="true"></i> &nbsp; &nbsp; {{ page.implementation4-name }} </a>
     {% endif %}
     {% if page.implementation5-name %}
     <a href="{{ page.implementation5-link }}" class="btn btn-primary btn-project"><i class="fa fa-external-link" aria-hidden="true"></i> &nbsp; &nbsp; {{ page.implementation5-name }} </a>
     {% endif %} 
     