<!-- jQuery Version 1.11.0 -->
<script defer src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script defer src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script defer src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script defer src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
<script defer src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

<!-- Contact Form JavaScript -->
<script defer src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>


<!-- Custom Theme JavaScript -->
<script defer src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

<script defer src="{{ "/js/drift.js" | prepend: site.baseurl }}"></script>

<script defer src="{{ "/js/google_analytics.js" | prepend: site.baseurl }}"></script>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.15.2/lazyload.min.js"></script>

<script defer src="{{ "/js/lazyload.js" | prepend: site.baseurl }}"></script>
