<!-- <div class="container nav-post">
    <div class="row container">
        <div class="col-sm-9">
            <a href="{{ site.baseurl }}/" class="navbar-brand"><span style="color:#fff;font-family:Source Sans Pro"><b>OSP</b></span></a>
        </div>
        <div class="col-sm-3">
            <ul class="list-inline nav-post">
                {% for network in site.social %}
                <li><a href="{{ network.url }}" class="hidden-xs"><i class="fa fa-2x fa-{{ network.title }}"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div> -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#000;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/"><b>OSP</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% for network in site.social %}
                <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<p>&nbsp;</p>
<p>&nbsp;</p>
