<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="page-scroll" href="/"><img src="{{ site.baseurl }}/img/logos/logo-osp.svg" width="60px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-center">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
          <li>
            <a class="page-scroll menu-item" href="{{ site.baseurl }}/#references" style = "margin-left:4px;">{{ site.data.i18n/fr/.menu.item-1 }}</a>
          </li>
          <li>
            <a class="page-scroll menu-item" href="{{ site.baseurl }}/#decidim" style = "margin-left:4px;">Decidim</a>
          </li>
          <li>
            <a class="page-scroll menu-item" href="https://medium.com/open-source-politics" style = "margin-left:4px;">Articles</a>
          </li>
          <li>
            <a class="page-scroll menu-item" href="#jobs" style = "margin-left:4px;">{{ site.data.i18n/fr/.menu.item-5 }}</a>
          </li>

          <li>
            <a class="page-scroll menu-item" href="{{ site.baseurl }}/#contact" style = "margin-left:4px;">{{ site.data.i18n/fr/.menu.item-6 }}</a>
          </li>
        </ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="{{ site.baseurl }}/fr/accueil">{% if page.locale == "fr" %}<span style="font-size:1.5em;color:#{{ site.data.template.color.secondary }}">fr</span> {% elsif page.locale == "en" %}<span style="font-size:1em">fr</span>{% endif %}</a></li>
  <li><a href="{{ site.baseurl }}/en/home">{% if page.locale == "en" %}<span style="font-size:1.5em;color:#{{ site.data.template.color.secondary }}">en</span> {% elsif page.locale == "fr" %}<span style="font-size:1em">en</span> {% endif %}</a></li>
  {% for network in site.social %}
  <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
  </li>
  {% endfor %}
</ul>
</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>
