<!-- <div class="container nav-post">
    <div class="row container">
        <div class="col-sm-9">
            <a href="{{ site.baseurl }}/" class="navbar-brand"><span style="color:#fff;font-family:Source Sans Pro"><b>OSP</b></span></a>
        </div>
        <div class="col-sm-3">
            <ul class="list-inline nav-post">
                {% for network in site.social %}
                <li><a href="{{ network.url }}" class="hidden-xs"><i class="fa fa-2x fa-{{ network.title }}"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div> -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#000;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{% if page.locale == "fr" %}/{% else %}/en/home{% endif %}"><b>OSP</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-center">
              <li class="hidden">
                  <a href="#page-top"></a>
              </li>
              <li>
                <!--  <a class="page-scroll menu-item" href="#services">{{ site.data.i18n[page.locale].menu.item-0-1 }}</a> -->

                  <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style = "background-color:transparent;border-color:transparent;text-transform: uppercase;font-family: Source Sans Pro;font-weight: 400;letter-spacing: 1px;color: #fff;font-size: 1.2em;padding-top: 16.5px;padding-bottom: 19.5px;">Services
          <span class="caret"></span></button>
          <ul class="navbar dropdown-menu navbar-default page-scroll " style = "top: 100%;left: 0;z-index: 1000;float: right;min-width: 20px;padding-bottom:0px;margin-right:0px;margin-left:0px;margin-top: 10px;margin-left: -10px;-webkit-background-clip: padding-box;background-clip: padding-box;border: 0px solid #ccc;border: 0px solid rgba(0, 0, 0, .15);border-radius: 0px;  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .175);box-shadow: 0 0px 0pxrgba(0, 0, 0, .175);margin-bottom:0px;">
            <li style = "text-transform: uppercase;font-family: Source Sans Pro;font-weight: 400;letter-spacing: 1px;color: #fff;font-size: 1.2em;"><a href="{{site.baseurl }}/{% if page.locale == "fr" %}consultations-publiques{% else %}public-consultations{% endif %}">{{ site.data.i18n[page.locale].serviceV2.bg-feature-1 }}</a></li>
            <li style = "text-transform: uppercase;font-family: Source Sans Pro;font-weight: 400;letter-spacing: 1px;color: #fff;font-size: 1.2em;"><a href="{{site.baseurl }}/{% if page.locale == "fr" %}budget-participatif{% else %}participatory-budgeting{% endif %}">{{ site.data.i18n[page.locale].serviceV2.bg-feature-2 }}</a></li>
            <li style = "text-transform: uppercase;font-family: Source Sans Pro;font-weight: 400;letter-spacing: 1px;color: #fff;font-size: 1.2em;"><a href="{{site.baseurl }}/{% if page.locale == "fr" %}custom{% else %}en-custom{% endif %}">{{ site.data.i18n[page.locale].serviceV2.bg-feature-3 }}</a></li>
            <li style = "text-transform: uppercase;font-family: Source Sans Pro;font-weight: 400;letter-spacing: 1px;color: #fff;font-size: 1.2em;"><a href="{{site.baseurl }}/{% if page.locale == "fr" %}formation-civic-tech{% else %}civic-tech-training{% endif %}">{{ site.data.i18n[page.locale].serviceV2.bg-feature-4 }}</a></li>
          </ul>
        </div>


              </li>
              <li>
                  <a class="page-scroll menu-item" href="{{site.baseurl }}/{% if page.locale == "fr" %}fr/references{% else %}en/productions{% endif %}" style = "margin-left:0px;">{% if page.locale == "fr" %}Réalisations{% else %}References{% endif %}</a>
              </li>
              <li>
              {% if page.locale == "fr" %}
                  <a class="page-scroll menu-item" href="/fr/blog" style = "margin-left:4px;">{{ site.data.i18n[page.locale].menu.item-0-3 }}</a>
              {% else %}
                  <a class="page-scroll menu-item" href="/en/blog" style = "margin-left:4px;">{{ site.data.i18n[page.locale].menu.item-0-3 }}</a>
              {% endif %}
              </li>
              <li>
                  <a class="page-scroll menu-item" href="#contact" style = "margin-left:4px;">{{ site.data.i18n/fr/.menu.item-6 }}</a>
              </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ site.baseurl }}/fr/accueil">{% if page.locale == "fr" %}<span style="font-size:1.5em;color:#{{ site.data.template.color.secondary }}">fr</span> {% elsif page.locale == "en" %}<span style="font-size:1em">fr</span>{% endif %}</a></li>
              <li><a href="{{ site.baseurl }}/en/home">{% if page.locale == "en" %}<span style="font-size:1.5em;color:#{{ site.data.template.color.secondary }}">en</span> {% elsif page.locale == "fr" %}<span style="font-size:1em">en</span> {% endif %}</a></li>
                {% for network in site.social %}
                <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<p>&nbsp;</p>
<p>&nbsp;</p>
