<div class="container-fluid">
  <center>
    <ul class="list-inline">
      <li><img src="{{ site.baseurl }}/img/R2D2.png"></li>
      <li class="shadow-sw"><span style="font-size:1.5em;color:#{{ site.data.template.color.secondary }}">THE LIGHT SIDE OF DEMOCRACY,</span></li>
      <li><span style="font-size:1.5em;color:#{{ site.data.template.color.secondary }}">suivez l'actu d'une entreprise des civic tech libres</span></li>
      <li style="padding-bottom:20px;"><a class="btn btn-primary" href="{{ site.baseurl }}/newsletter">Inscription</a></li>
    </ul>
  </center>
</div>
