<div class="container-fluid" style="background-color:#f7f7f7;border-top:solid;border-color:#b4bcc2;" >
  <center>
    <p>&nbsp;</p>
    <ul class="list-inline">
      <li style="margin-bottom:-15px;"><img src="{{ site.baseurl }}/img/R2D2.png"></li>
      <li class="shadow-sw"><span style="font-size:1.5em;color:#{{ site.data.template.color.secondary }}">THE LIGHT SIDE OF DIGITAL DEMOCRACY,</span></li>
      <li><span style="font-size:1.5em;color:#{{ site.data.template.color.secondary }}">{{ site.data.i18n[page.locale].newsletter.subtitle }}</span></li>
      <li style="padding-bottom:20px;"><a class="btn btn-primary" href="{% if page.locale == "fr" %}/fr/{% elsif page.locale == "en" %}/en/{% else %}{% endif %}{{ site.baseurl }}/newsletter">{{ site.data.i18n[page.locale].newsletter.subscribe-btn }}</a></li>
    </ul>
    {% include newsletter-popup.html %}
  </center>
</div>
