<section id="references" class="bg-light-gray">
    <div class="container-fluid">
        <h2 class="section-heading" style="text-align:center;">{{ site.data.i18n[page.locale].realisations.title }}</h2>
        <p style="text-align:center;">{{ site.data.i18n[page.locale].realisations.subtitle }}</p>
        <div class="row">
            {% for client in site.clients %}
            {% if client.type == "featured-1" %}
            <div class="col-md-2">
                <div style="padding:20px; background-color:#fff;" class="radius-up">
                    <center><a href="{{ client.site-url }}">
                        <img data-src="{{ site.baseurl }}/img/clients/{{ client.img }}" alt="{{ client.alt }}"
                             style="min-width=208px;" class="lazy img-responsive"></a>
                    </center>
                </div>
                <div class="portfolio-block radius-down">
                    <h6><a href="{{ client.site-url}}">{{ client.site-name }}</h6>
                    {% if page.locale == "fr" %}
                    <p><span style:"color:grey;"><i class="fa fa-tag"></i>&nbsp;&nbsp;{{ client.tag-fr }}</span></p>
                    {% else %}
                    <p><span style:"color:grey;"><i class="fa fa-tag"></i>&nbsp;&nbsp;{{ client.tag-en }}</span></p>
                    {% endif %}
                </div>
            </div>
            {% else %}
            {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            {% for client in site.clients %}
            {% if client.type == "featured-2" %}
            <div class="col-md-2">
                <div style="padding:20px; background-color:#fff;" class="radius-up">
                    <center>
                        <a href="{{ client.site-url }}">
                            <img data-src="{{ site.baseurl }}/img/clients/{{ client.img }}" alt="{{ client.alt }}"
                                 style="min-width=208px;" class="lazy img-responsive">
                        </a>
                    </center>
                </div>
                <div class="portfolio-block radius-down">
                    <h6>
                        <a href="{{ client.site-url}}">{{ client.site-name }}</a>
                    </h6>
                    {% if page.locale == "fr" %}
                    <p><span style:"color:grey;"><i class="fa fa-tag"></i>&nbsp;&nbsp;{{ client.tag-fr }}</span></p>
                    {% else %}
                    <p><span style:"color:grey;"><i class="fa fa-tag"></i>&nbsp;&nbsp;{{ client.tag-en }}</span></p>
                    {% endif %}
                </div>
            </div>
            {% else %}
            {% endif %}

            {% endfor %}
        </div>
        <div class="row">
            {% for client in site.clients %}
            {% if client.type == "featured-3" %}
            <div class="col-md-2">
                <div style="padding:20px; background-color:#fff;" class="radius-up">
                    <center>
                        <a href="{{ client.site-url }}">
                            <img data-src="{{ site.baseurl }}/img/clients/{{ client.img }}" alt="{{ client.alt }}"
                                 style="min-width=208px;" class="lazy img-responsive">
                        </a>
                    </center>
                </div>
                <div class="portfolio-block radius-down">
                    <h6>
                        <a href="{{ client.site-url}}">{{ client.site-name }}</a>
                    </h6>
                    {% if page.locale == "fr" %}
                    <p><span style:"color:grey;"><i class="fa fa-tag"></i>&nbsp;&nbsp;{{ client.tag-fr }}</span></p>
                    {% else %}
                    <p><span style:"color:grey;"><i class="fa fa-tag"></i>&nbsp;&nbsp;{{ client.tag-en }}</span></p>
                    {% endif %}
                </div>
            </div>
            {% else %}
            {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            {% for client in site.clients %}
            {% if client.type == "featured-4" %}
            <div class="col-md-2">
                <div style="padding:20px; background-color:#fff;" class="radius-up">
                    <center>
                        <a href="{{ client.site-url }}">
                            <img data-src="{{ site.baseurl }}/img/clients/{{ client.img }}" alt="{{ client.alt }}"
                                 style="min-width=208px;" class="lazy img-responsive">
                        </a>
                    </center>
                </div>
                <div class="portfolio-block radius-down">
                    <h6>
                        <a href="{{ client.site-url}}">{{ client.site-name }}</a>
                    </h6>
                    {% if page.locale == "fr" %}
                    <p><span style:"color:grey;"><i class="fa fa-tag"></i>&nbsp;&nbsp;{{ client.tag-fr }}</span></p>
                    {% else %}
                    <p><span style:"color:grey;"><i class="fa fa-tag"></i>&nbsp;&nbsp;{{ client.tag-en }}</span></p>
                    {% endif %}
                </div>
            </div>
            {% else %}
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid" style="margin-top:2em;">
        <h2 class="section-heading" style="text-align:center;">{{ site.data.i18n[page.locale].use_cases.title }}</h2>
        <p style="text-align:center;">{{ site.data.i18n[page.locale].use_cases.subtitle }}</p>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div style="padding:20px; background-color:#fff;" class="radius-up">
                    <center>
                        <a href="https://medium.com/open-source-politics/cas-dusage-le-premier-budget-participatif-de-la-ville-d-angers-a34b6f6e3642">
                            <img data-src="{{ site.baseurl }}/img/uses_cases/bp-angers-169.png" alt="Budget participatif Angers"
                                 style="min-width=208px;" class="lazy img-responsive">
                        </a>
                    </center>
                </div>
                <div class="portfolio-block radius-down">
                    {% if page.locale == "fr" %}
                    <p><span style:"color:grey;"><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="https://medium.com/open-source-politics/cas-dusage-le-premier-budget-participatif-de-la-ville-d-angers-a34b6f6e3642">Étude de cas du budget participatif 2018 de la ville d'Angers</a></span></p>
                    {% else %}
                    <p><span style:"color:grey;"><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="https://medium.com/open-source-politics/cas-dusage-le-premier-budget-participatif-de-la-ville-d-angers-a34b6f6e3642">Case study Angers participatory budget</a></span></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div style="padding:20px; background-color:#fff;" class="radius-up">
                    <center>
                        <a href="https://frama.link/mel-usecase">
                            <img data-src="{{ site.baseurl }}/img/uses_cases/mel-use-case.png" alt="Plateforme consultation métropole européenne de Lille"
                                 style="min-width=208px;" class="lazy img-responsive">
                        </a>
                    </center>
                </div>
                <div class="portfolio-block radius-down">
                    {% if page.locale == "fr" %}
                    <p><span style:"color:grey;"><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="https://medium.com/open-source-politics/cas-dusage-la-m%C3%A9tropole-europ%C3%A9enne-de-lille-construire-une-politique-publique-de-participation-43a179ef19e8">Étude de cas du plateforme de consultation de la Métropole Européenne de Lille</a></span></p>
                    {% else %}
                    <p><span style:"color:grey;"><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="https://medium.com/open-source-politics/cas-dusage-la-m%C3%A9tropole-europ%C3%A9enne-de-lille-construire-une-politique-publique-de-participation-43a179ef19e8">Case study Metropolitan Area of Lille a consultation platform to shape public policy</a></span></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <center>
            <a href="{{ site.baseurl }}{{ site.data.i18n[page.locale].allref.url }}"
               class="page-scroll btn btn-lg btn-primary">{{ site.data.i18n[page.locale].allref.btn-text }}
            </a>
        </center>
    </div>

</section>
