<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos services</h2>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <!-- Choix de l'outil -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="orange fa fa-cog fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Choix de l'outil</h4>
                    <p>Grâce à une veille internationale soutenue, notre équipe est capable d'identifier les outils open source les plus adaptés à vos besoins.</p>
                </div>
                <!-- Integration et customisation -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="orange fa fa-code fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Intégration technique</h4>
                    <p>Nos équipes déploient et maintiennent les outils nécessaires à votre démarche de participation.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="orange fa fa-user-md fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Conseil</h4>
                    <p>Nous vous accompagnons dans la mise en place de stratégies permettant de mobiliser les publics concernés.</p>
                </div>
                <!-- Animation et évenementiel -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="orange fa fa-calendar-check-o fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Evénements</h4>
                    <p>Hackathons, meetups, workshops... Nous concrétisons votre démarche participative grâce à des événements physiques.</p>
                </div>
            </div>
            <br>
            <br>
            <table width="100%">
              <td><hr /></td>
              <td style="width:1px; padding: 0 10px; white-space: nowrap;"><h4>Pour mettre en place des</h4></td>
              <td><hr /></td>
            </table>​
            <br>
            <br>
            <div class="row text-center">
                <!-- Budget participatif -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="orange fa fa-money fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Budgets participatifs</h4>
                </div>
                <!-- Consultation publique -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="orange fa fa-comments-o fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Consultations publiques</h4>
                </div>
                <!-- Appel à projet -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="orange fa fa-bullhorn fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Appels à projets</h4>
                </div>
                <!-- Cartographie collaborative -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="orange fa fa-map-marker fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Cartographies collaboratives</h4>
                </div>
            </div>
            </div>
            <br>
        </div>
    </section>
