<!-- Services Section -->
    <section id="services" style = "padding:10px; padding-top:100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.data.i18n[page.locale].serviceV2.Main-title }}</h2>
                </div>
            </div>
            <br>

<div class="row">


  {% if page.locale == "fr" %}



    <div class="col-md-4 col-xs-12">
       <div class="dummy"><a href="{{site.baseurl }}/consultations-publiques"><img src="{{ site.baseurl }}/img/agora.png" align = "right" class = "imgacc"></a></div>
       <center><b><div style ="font-size:1.5em;"> <a href="{{site.baseurl }}/#contact" class="thumbnail purple"><font color="white">{{ site.data.i18n[page.locale].serviceV2.bg-feature-1 }}</font></a></div></b></center>
    </div>
    <div class="col-md-4 col-xs-12">
       <div class="dummy"><a href="{{site.baseurl }}/custom"><img src="{{ site.baseurl }}/img/pic-custom.png" align = "right" class = "imgacc"></a></div>
       <center><b><div style ="font-size:1.5em;"><a href="{{site.baseurl }}/#contact" class="thumbnail purple"><font color="white">{{ site.data.i18n[page.locale].serviceV2.bg-feature-3 }}</font></a></b></center>
    </div>
    <div class="col-md-4 col-xs-12">
       <div class="dummy"><a href="{{site.baseurl }}/formation-civic-tech"><img src="{{ site.baseurl }}/img/pic-formation.png" align = "right" class = "imgacc"></a></div>
       <center><b><div style ="font-size:1.5em;"><a href="{{site.baseurl }}/#contact" class="thumbnail purple"><font color="white">{{ site.data.i18n[page.locale].serviceV2.bg-feature-4 }}</font></a></div></b></center>
    </div>



  </div>

  {% elsif page.locale == "en" %}


  <div class="col-md-4 col-xs-12">
       <div class="dummy"><a href="{{site.baseurl }}/public-consultations"><img src="{{ site.baseurl }}/img/agora.png" align = "right" class = "imgacc"></a></div>
       <center><b><div style ="font-size:1.5em;"> <a href="{{site.baseurl }}/#contact" class="thumbnail purple"><font color="white">{{ site.data.i18n[page.locale].serviceV2.bg-feature-1 }}</font></a></div></b></center>
  </div>
  <div class="col-md-4 col-xs-12">
       <div class="dummy"><a href="{{site.baseurl }}/en-custom"><img src="{{ site.baseurl }}/img/pic-custom.png" align = "right" class = "imgacc"></a></div>
       <center><b><div style ="font-size:1.5em;"><a href="{{site.baseurl }}/#contact" class="thumbnail purple"><font color="white">{{ site.data.i18n[page.locale].serviceV2.bg-feature-3 }}</font></a></b></center>
  </div>
  <div class="col-md-4 col-xs-12">
       <div class="dummy"><a href="{{site.baseurl }}/civic-tech-training"><img src="{{ site.baseurl }}/img/pic-formation.png" align = "right" class = "imgacc"></a></div>
       <center><b><div style ="font-size:1.5em;"><a href="{{site.baseurl }}/#contact" class="thumbnail purple"><font color="white">{{ site.data.i18n[page.locale].serviceV2.bg-feature-4 }}</font></a></div></b></center>
	</div>

</div>
{% endif %}
<br>
<center><h4>&nbsp;{{ site.data.i18n[page.locale].serviceV2.title2 }}&nbsp;</h4></center>
<br>
<div class="row">


<a href="{{site.baseurl }}/#contact">
  <div  class = "col-md-3 col-sm-3 col-xs-6 col-lg-17">
<img src="{{ site.baseurl }}/img/votation.png" class = "imgservices">
<center>{{ site.data.i18n[page.locale].serviceV2.sm-feature-1 }}</center>
</a>
</div>


<a href="{{site.baseurl }}/#contact">
  <div  class = "col-md-3 col-sm-3 col-xs-6 col-lg-17">
<img src="{{ site.baseurl }}/img/consultations.png" class = "imgservices">
<center>{{ site.data.i18n[page.locale].serviceV2.sm-feature-2 }}</center>
  </div>
</a>

<a href="{{site.baseurl }}/#contact">
  <div  class = "col-md-3 col-sm-3 col-xs-6 col-lg-17">
<img src="{{ site.baseurl }}/img/budgets.png" class = "imgservices">
<center>{{ site.data.i18n[page.locale].serviceV2.sm-feature-3 }}</center>
  </div>
</a>

<a href="{{site.baseurl }}/#contact">
  <div  class = "col-md-3 col-sm-3 col-xs-6 col-lg-17">
<img src="{{ site.baseurl }}/img/projets.png" class = "imgservices">
<center>{{ site.data.i18n[page.locale].serviceV2.sm-feature-4 }}</center>
  </div>
</a>

<a href="{{site.baseurl }}/#contact">
  <div  class = "col-md-3 col-sm-3 col-xs-6 col-lg-17">
<img src="{{ site.baseurl }}/img/sur-mesure.png" class = "imgservices">
<center>{{ site.data.i18n[page.locale].serviceV2.sm-feature-5 }}</center>
  </div>
</a>

<a href="{{site.baseurl }}/#contact">
  <div  class = "col-md-3 col-sm-3 col-xs-6 col-lg-17">
<img src="{{ site.baseurl }}/img/carto.png" class = "imgservices">
<center>{{ site.data.i18n[page.locale].serviceV2.sm-feature-6 }}</center>
  </div>
</a>

<a href="{{site.baseurl }}/#contact">
  <div  class = "col-md-3 col-sm-3 col-xs-6 col-lg-17">
<img src="{{ site.baseurl }}/img/events.png" class = "imgservices">
<center>{{ site.data.i18n[page.locale].serviceV2.sm-feature-7 }}</center>
  </div>
</a>

<a href="{{site.baseurl }}/#contact">
  <div  class = "col-md-3 col-sm-3 col-xs-6 col-lg-17">
<img src="{{ site.baseurl }}/img/formation-small.png" class = "imgservices">
<center>{{ site.data.i18n[page.locale].serviceV2.sm-feature-8 }}</center>
  </div>
</a>

</div>
            <br>
            <br>
        </div>

    </section>
