<section id="about" class="bg-light-gray">
  <div class="row" class="container">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">A propos</h2>
        <h3 class="section-subheading text-muted sub-heading-margin">Open Source Politics est une entreprise relevant du champ de l’économie sociale et solidaire qui développe des plateformes numériques libres et open source et anime des ateliers d’intelligence collective pour accompagner des acteurs publics, privés et associatifs engagés dans des démarches participatives. Découvrez notre histoire :</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="medium-embed">
        <script async src="https://static.medium.com/embed.js"></script>
        <a class="m-story" data-width="100%" data-collapsed="true" href="https://medium.com/open-source-politics/notre-histoire-c61bbec90334#.9ux2w3e4s">Notre histoire</a>
    </div>
</section>