<section id="about" style = "padding-top:100px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ site.data.i18n[page.locale].story.title }}</h2>
          <div class="section-subheading sub-heading-margin" style = "font-size:19px;">{{ site.data.i18n[page.locale].story.story-subheading }}</div>
      </div>
    </div>
    <div class="row">
      <p>&nbsp;</p>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="jumbotron" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url({{ site.baseurl }}/img/background-articles.png);">
          <div>
            <h3><a href="https://medium.com/open-source-politics/notre-histoire-c61bbec90334" target="_blank"><span style="color:#fff">Notre histoire</span></a></h3>
            <p style="color:#fff;">Le 21 septembre 2016 <br>par <a href="https://medium.com/@ValentinChaput">&nbsp;<span style="color:#fff;text-decoration: underline;">Valentin Chaput</span></a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="jumbotron" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ site.baseurl }}/img/background-articles.png);">
          <div>
            <h3><a href="https://medium.com/open-source-politics/la-civic-tech-fran%C3%A7aise-risque-de-se-d%C3%A9tourner-de-la-cr%C3%A9ation-des-biens-communs-num%C3%A9riques-dont-9ebcf5c55c2e" target="_blank"><span style="color:#fff">Open By Design</span></a></h3>
            <p style="color:#fff;">Le 6 décembre 2016 <br>par <a href="https://medium.com/@ValentinChaput">&nbsp;<span style="color:#fff;text-decoration: underline;">Valentin Chaput</span></a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="jumbotron" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ site.baseurl }}/img/background-articles.png);">
          <div>
            <h3><a href="https://medium.com/open-source-politics/pourquoi-et-comment-nous-choisissons-de-construire-un-mod%C3%A8le-%C3%A9conomique-fond%C3%A9-sur-des-biens-communs-6c4f3ec3c075" target="_blank"><span style="color:#fff">Code commun</span></a></h3>
            <p style="color:#fff;">Le 5 mars 2018 <br>par <a href="https://medium.com/@ValentinChaput">&nbsp;<span style="color:#fff;text-decoration: underline;">Valentin Chaput</span></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>&nbsp;</p>
              <center><a href="https://medium.com/open-source-politics" class="btn btn-secondary">{{ site.data.i18n[page.locale].story.all-article-btn }}</a></center>
</section>
