<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p></p>
            <img
                 src="{{ site.baseurl }}/img/uses_cases/use-case-angers.png"
                 class="img-responsive"
                 alt="{{ page.alt }}"
            >
        </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <center>
          <h1>Etude de cas :</h1>
          <h2 style="font-size:20px;">{{ page.title }}</h2>
          <p>{{ page.description }}</p>
        </center>
          <div id="email_capture" class="email_iframe">
              {% include email_capture_use_case.html %}
          </div>
      </div>
    </div>
</div>
