---
layout:
title: The ligh side of democracy, la newsletter mensuelle d'Open Source Politics.
locale: fr
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="fullscreen">
  <div class="container">
    <center>
      <h1 class="shadow-sw margin-top"><span style="color:#D0AE39">THE LIGHT SIDE OF DEMOCRACY *</span></h1>
      <p><span style="color:#D0AE39;font-size:1.5em">suivez l'actu d'une entreprise des civic tech libres </span></p>
      <p>&nbsp;</p>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p>&nbsp;</p>
          <img src="{{ site.baseurl }}/img/faces_sw.png" alt="civic tech wars" class="img-responsive goes-up">
        </div>
        <div class="col-xs-12 col-md-4">
          <br>
          <p class="shadow-sw"><span style="color:#D0AE39;font-size:1.2em">* Dans la galaxie des applications gov-tech propriétaires françaises, nous résistons autour des valeurs de l'open source sans lesquelles il ne peut y avoir de réelle démarche de Gouvernement ouvert</span></p>
          <div class="box">
            <p> <span style="color:#D0AE39;font-size:1.5em">Inscrivez-vous à la newsletter mensuelle d'Open Source Politics</span> </p>
          <div id="control-group form-group">
            <form action="//opensourcepolitics.us14.list-manage.com/subscribe/post?u=6a0b5966e1f8f34a5f054f60c&amp;id=55bb1b9f49" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="control-group form-group">
                <ul class="list-inline clearfix">
                  <li><input type="email" value="" name="EMAIL" class="form-width form-control margin-bottom" id="mce-EMAIL" placeholder="Adresse email" required></li>
                  <li class="hidden"><input type="text" name="b_6a0b5966e1f8f34a5f054f60c_dc16a6b5e6" tabindex="-1" value=""></li>
                  <li><input type="submit" value="Inscription" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Begin MailChimp Signup Form -->
      <br>

        <!--End mc_embed_signup-->
      </center>
    </div>
    <center><a href="{{ site.baseurl }}/"><p class="osp-horizontal"><b>OPEN SOURCE POLITICS.</b></p></a></center>
    {% include js.html %}
</body>
</html>
