---
layout:
locale: fr
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="fullscreen">
    <center>
      <h1 class="shadow-sw margin-top"><span style="color:#D0AE39">THE LIGHT SIDE OF DEMOCRACY</span></h1>
      <p><span style="color:#D0AE39;font-size:1.5em">suivez l'actu d'une entreprise des civic tech libres</span></p>
      <img src="{{ site.baseurl }}/img/faces_sw.png" alt="civic tech wars" class="img-responsive goes-up">
      <p class="goes-up"><span style="color:#D0AE39;font-size:1.5em">La newsletter mensuelle d'Open Source Politics</span></p>
      <!-- Begin MailChimp Signup Form -->
      <br>
        <div id="control-group form-group">
          <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="control-group form-group">
              <ul class="list-inline clearfix">
                <li><input type="email" value="" name="EMAIL" class="form-width form-control margin-bottom" id="mce-EMAIL" placeholder="Adresse email" required></li>
                <li class="hidden"><input type="text" name="b_6a0b5966e1f8f34a5f054f60c_dc16a6b5e6" tabindex="-1" value=""></li>
                <li><input type="submit" value="Inscription" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></li>
              </ul>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </center>
    {% include js.html %}
</body>
</html>
