---
layout: default
locale: fr
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
  {% include header.html %}
  {% if page.locale == "fr" %}
    {% include newsletter-section.html %}
  {% else %}
  {% endif %}

  {% include services.html %}
  {% include portfolio_grid.html %}
  {% include clients.html %}
  {% include story.html %}
  <!-- {% include products.html %} -->
  {% include team.html %}
  {% include jobs.html %}
  {% include contact_static.html %}
  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}
</body>
</html>
