<!DOCTYPE html>
<html>

  {% include head.html %}
    <body class="post">
        {% include nav-post.html %}
        <div class="container">
          <h1>{{ page.title }}</h1>
          <hr>
          <!-- Date/Time -->
          <p><b><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; {{ page.available-when }}</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b><i class="fa fa-tags"></i>&nbsp;{{ page.tags }}</b></p>
          <hr>
          <div class="row">
            <div class="col-md-9">
                <!-- Preview Image -->
              {% if page.img %}
              <img class="img-responsive" src="{{ site.baseurl }}/img/portfolio/{{ page.img }}" alt="{{ page.title }}">
              {% endif %}
             {% if page.youtubeid %}
              <div class="video-container">
                <iframe width="100%" height="150%" src="https://www.youtube.com/embed/{{ page.youtubeid }}" frameborder="0" allowfullscreen></iframe>
              </div>
              {% endif %}
              <br>
                  {{ content }}
             </div>
            <div class="col-sm-3">
              <div>
                {% include sidebar-jobs.html %}
              </div>
              <div class="fixed">
                <!-- cassededi à noé -->
                <a href="mailto:contact@opensourcepolitics.eu" class="btn btn-primary btn-project"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ site.data.i18n[page.locale].btn-apply }}</a>
              </div>
            </div>
          </div>
        </div>
    <br>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
