<!DOCTYPE html>
<html>

  {% include head.html %}
    <body class="post">
        {% include nav-post.html %}
        <div class="container-fluid"style="background-color:#{{ site.data.template.color.primary }};margin-top:-20px;">
            <center>
              <h1 style="margin-top:30px;"><span style="color:#fff;font-size:1.3em;">{{ page.title }}</span></h1>
              <img src="{{ site.baseurl }}{{ page.image }}" style="margin-top:-20px;width:500px;">
              <p style="margin-top:-5px;"><b><span style="color:#fff;">{{ page.baseline }}</b></span></p>
            </center>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-9" style="padding-left:30px;padding-right:30px;">
                <!-- Preview Image -->
              {% if page.img %}
              <img class="img-responsive" src="{{ site.baseurl }}/img/portfolio/{{ page.img }}" alt="{{ page.title }}">
              {% endif %}
             {% if page.youtubeid %}
              <div class="video-container">
                <iframe width="100%" height="150%" src="https://www.youtube.com/embed/{{ page.youtubeid }}" frameborder="0" allowfullscreen></iframe>
              </div>
              {% endif %}
              <br>
                  {{ content }}
             </div>
            <div class="col-sm-3">
              <br>
              <div class="well" style = "padding:19px;background-color: #ecf0f1;">
                <center>
                  <a href="{{ site.data.i18n[page.locale].contact.btn-link }}" target="_blank" ><img src="{{ site.baseurl }}/img/forms.png" width="150px" alt="formulaire"></a>
                  <!-- <p>&nbsp;</p> -->
                   <p>{{ site.data.i18n[page.locale].contact.message-form }}</p>
                  <!-- <p>&nbsp;</p> -->
                  <a href="{{ site.data.i18n[page.locale].contact.btn-link }}"  target="_blank" class="btn btn-primary">{{ site.data.i18n[page.locale].contact.btn-form }}</a>
                </center>
              </div>
              <div>
                {% include sidebar-offres.html %}
              </div>
              <div>
                {% if page.ref1-name %}
                <h4>Référence(s)</h4>
                <a href="{{ page.ref1-url }}" class="btn btn-secondary btn-project"><i class="fa fa-link"></i>&nbsp;&nbsp;{{ page.ref1-name }}</a>
                {% endif %}
                {% if page.ref2-name %}
                <a href="{{ page.ref2-url }}" class="btn btn-secondary btn-project"><i class="fa fa-link"></i>&nbsp;&nbsp;{{ page.ref2-name }}</a>
                {% endif %}
                {% if page.ref3-name %}
                <a href="{{ page.ref3-url }}" class="btn btn-secondary btn-project"><i class="fa fa-link"></i>&nbsp;&nbsp;{{ page.ref3-name }}</a>
                {% endif %}
                {% if page.ref4-name %}
                <a href="{{ page.ref4-url }}" class="btn btn-secondary btn-project"><i class="fa fa-link"></i>&nbsp;&nbsp;{{ page.ref4-name }}</a>
                {% endif %}
                {% if page.ref5-name %}
                <a href="{{ page.ref5-url }}" class="btn btn-secondary btn-project"><i class="fa fa-link"></i>&nbsp;&nbsp;{{ page.ref5-name }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
    <br>
    <hr>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
